version: "3.9"

services:
  backend:
    build:
      context: ./backend
    environment:
      - FLASK_ENV=development
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
